.rectangle {
  width: 200px;
  height: 100px;
  background: yellow;
}

.oval {
  width: 200px;
  height: 100px;
  background: yellow;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}


.rombo {
  width: 0;
  height: 0;
  border: 100px solid transparent;
  border-bottom-color: red;
  position: relative;
  top: -100px;
}
.rombo:after {
  content: '';
  position: absolute;
  left: -100px;
  top: 100px;
  width: 0;
  height: 0;
  border: 100px solid transparent;
  border-top-color: red;
}